html, body
  height: 100%

body
  margin: 0

main
  display: block
  position: relative

crop
  display: block
  position: absolute
  border: 1px solid green
  width: 400px
  height: 400px
  top: -1px
  left: -1px
